<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Origins</title>

    <link rel="stylesheet" href="/static/css/mainpage.css">
    <link rel="stylesheet" href="/static/css/song.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans&family=Montserrat:wght@500;600&display=swap"
        rel="stylesheet">
    
</head>
<body>
    <header>
        <a href="/" class="logo">
            <i class="ri-home-line"></i>
            <span>Origins</span>
        </a>
        <ul class="navbar">
            <li><a href="#home">Home</a></li>
            <li><a href="#howtouse">How to use</a></li>
            <li><a href="">Info</a></li>
            <li><a href="">Presentation</a></li>
        </ul>
        <div class="main">
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>

    <section class="original-song">
        <div class="about-img">
            <img src="{{ original_track.cover_image }}" alt="">
        </div>
        <div class="about-text">
            <h2>{{ original_track.song_name }}</h2>
            <h5>{{ original_track.artist }}</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo iure culpa eaque tempore non qui ullam harum,
            ipsum iste sint nam vel, tempora molestiae aliquid minus magni necessitatibus? Itaque, in!</p>
            <p>Слухати на платформах:</p>
            <a
                    class="link-logo"
                    href=""
                    target="_blank">
                <img src="/static/images/youtube-music-logo.png" alt="">
            </a>
            <a
                    class="link-logo"
                    href="{{ original_track.url }}"
                    target="_blank">
                <img src="/static/images/spotify.png" alt="">
            </a>
        </div>
    </section>

    <script>
        document.getElementById("spotify-button").addEventListener("click", function() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/song-info", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                } else if (xhr.readyState === XMLHttpRequest.DONE) {
                }
            };
            var song_name = "{{ original_track.song_name }}";
            var data = "song_name=" + encodeURIComponent(song_name);
            xhr.send(data);
        });
    </script>

    <section class="another-songs">
        <h1 class="title">Хронографія використання пісні</h1>
        <div class="container">
            <div class="timeline">
                <ul>
                    {% for similar_song in similar_songs %}
                    <li>
                        <div class="timeline-content">
                            <h3 class="date">{{ similar_song.release_date }}</h3>
                            <h1>{{ similar_song.song_name }}</h1>
                            <p>{{ similar_song.artist }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <a href="#" class="scroll-bttn" id="scrollButton"> <i class="bx bx-chevron-up"></i></a>
    <script src="/static/js/mainpage.js"></script>
    
</body>
</html>