<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Origins</title>

    <link rel="stylesheet" href="/static/css/mainpage.css">
    <link rel="stylesheet" href="/static/css/song.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans&family=Montserrat:wght@500;600&display=swap"
        rel="stylesheet">
</head>
<body>
    <header>
        <a href="mainpage.html" class="logo">
            <i class="ri-home-line"></i>
            <span>Origins</span>
        </a>
        <ul class="navbar">
            <li><a href="#home">Home</a></li>
            <li><a href="#howtouse">How to use</a></li>
            <li><a href="">Info</a></li>
            <li><a href="">Presentation</a></li>
        </ul>
        <div class="main">
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>

    <section class="original-song">
        <div class="about-img">
            <img src="/static/images/ivasyuk.jpg" alt="">
        </div>
        <div class="about-text">
            <h2>Червона рута</h2>
            <h5>Володимир Івасюк</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo iure culpa eaque tempore non qui ullam harum,
            ipsum iste sint nam vel, tempora molestiae aliquid minus magni necessitatibus? Itaque, in!</p>
            <p>Слухати на платформах:</p>
            <button><img src="/static/images/youtube-music-logo.png"></button>
            <button><img src="/static/images/spotify.png"></button>
        </div>
    </section>

    <section class="another-songs">
        <h1 class="title">Хронографія використання пісні</h1>
        <div class="container">
            <div class="timeline">
                <ul>
                    <li>
                        <div class="timeline-content">
                            <h3 class="date">20th may, 2010</h3>
                            <h1>Heading 1</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium
                                voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-content">
                            <h3 class="date">20th may, 2010</h3>
                            <h1>Heading 2</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium
                                voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-content">
                            <h3 class="date">20th may, 2010</h3>
                            <h1>Heading 3</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium
                                voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-content">
                            <h3 class="date">20th may, 2010</h3>
                            <h1>Heading 4</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium
                                voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>